<h1>places you been!</h1>

#if ($places)
  <ul>
    #foreach($place in $places)
      <li>$place.getDescription()</li>
    #end
  </ul>
#else
  <p> no places entered </p>
#end

<p>add a new place:</p>

<form action="/places" method="post">
  <label for = "description">Places Description</label>
  <input id = "description" name="description" type="text">

  <button type="submit" class="btn btn-success">Add Place you've been!</button>
</form>
